/* Reset some default styles */
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    font-family: "Rockwell Bold", Arial, sans-serif;
    box-sizing: border-box;
}

h3 {
    text-color: #ffffff
}
        
body {
    line-height: 1.6;
    background-color: #F5F5F5;
}

/* Header styling */
header {
    background-color: #2C3E50;
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}


/* Navigation styling */
nav {
    background-color: #34495E;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #E74C3C;
}

/* Content styling */
.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: left;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #2C3E50;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #333333;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

a {
    color: #2980B9;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #E74C3C;
}

/* Footer styling */
footer {
    background-color: #2C3E50;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 14px;
    margin: 0;
}

/* Additional styles for specific pages */
.activities ul {
    color: #2ECC71;
}

.contact p {
    margin-bottom: 5px;
}
